h3 {
    font-weight: bold;
    text-align: center;
}

.price {
    font-weight: bold;
}

.description {
    font-style: italic;
}

.tile {
    border: 2px solid #800000;
    border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
    -webkit-border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
    -moz-border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
    -ms-border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
    -o-border-radius: 5px 10px 15px 30px/30px 15px 10px 5px;
}
